a:hover{
    text-decoration: none;
}
.section{
    padding-top: 70px;
    padding-bottom: 70px;
}
.section h2.section-head{
    color:black;
    text-align: center;
    margin-bottom: 40px;
}
.section h2.section-head:after{
    background: #e74c3c;
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin: 20px auto;
}
#header{
    color:white;
    background: #e74c3c;
}
#logo{
    font-size: 2rem;
    margin:5px;
}
#menu{
    list-style: none;
    margin:0px;
    padding: 0px;
}
#menu li{
    display: inline-block;
}
#menu li a{
    color:white;
    padding: 15px 25px;
    display: block;
}
#menu li a:hover{
    background-color: #c0392b;
}
#banner{
    background-image:url("images/img3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-title{
    padding-top:5rem;
}
.banner-title h1{
    background: rgba(255,255,255,0.8);
    display: inline-block;
    padding: 10px;
    margin: 0px;
}
.banner-title p.lead{
    color: white;
    background:rgb(231,76,60,0.7);
    padding: 10px;
}
.service-box{
    text-align: center;
}
.service-box i,fa{
    color:#e74c3c;
    font-size: 65px;
    margin-bottom: 15px;
}
#testimonials{
    color:white;
    background: url("images/img6.jpg");
    background-repeat:no repeat;
    background-size:cover;
    padding: 50px 0px;
    position: relative;
}
#testimonials:before{
    background-color:rgba(52,73,94,0.7);
    content: "";
    position: absolute;
    top:0;
    width:100%;
    height:100%;
}
.testimonial img{
    border-radius:50%;
}
.news-post img{
    margin-bottom: 10px;
}
.news-post h3{
    font-size: 1.35rem;
}
.news-post h3 a{
    color:#e74c3c;
}
.post-date{
    margin-bottom: 2px;
}
.post-date:before{
    content:"\f073";
    font-family: FontAwesome;
    padding-right:5px;
}
a.readmore{
    font-size: 14px;
    color:#e74c3c;
}
a.readmore:after{
    content:"\f101";
    font-family: FontAwesome;
    padding-left:5px;
}